<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Batalha - {{ nome_monstro }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
</head>

<body class="bg-fase1">
    <div class="vinheta"></div>

    <div class="batalha-container">

        <header class="batalha-header">
            <div class="status-box status-personagem">
                <span>Sandubinha</span>
                <strong>Vida: {{ vida_personagem }}</strong>
            </div>
            <div class="vs-text">VS</div>
            <div class="status-box status-monstro">
                <span>{{ nome_monstro }}</span>
                <strong>Vida: {{ vida_monstro }}</strong>
            </div>
        </header>

        <main class="batalha-main">
            <h4>Eventos da Rodada:</h4>
            <div class="log-content">
                {% if ultima_rodada %}
                {% for evento in ultima_rodada %}
                <p>{{ evento }}</p>
                {% endfor %}
                {% else %}
                <p>A batalha começa! Selecione um item (opcional) e avance a rodada.</p>
                {% endif %}
            </div>
        </main>

        <form method="POST" class="batalha-form">
            <section class="batalha-inventario">
                <h5>Selecione um item para usar na rodada:</h5>

                <div>
                    <select name="item_selecionado" id="item-select"
                        style="padding: 8px; font-family: 'IM Fell English SC', serif; font-size: 1.1rem;">

                        <option value="">-- Nenhum Item --</option>

                        {% set ids_itens_conquistados = session.get("itens_conquistados", []) %}
                        {% set ids_itens_usados = session.get("itens_usados_batalha", []) %}
                        
                        {% for item_id, item_details in ITENS.items() %}
                        
                        {% if item_id in ids_itens_conquistados %}
                        <option value="{{ item_id }}" {{ 'disabled' if item_id in ids_itens_usados }}>
                            {{ item_details.nome }} {% if item_id in ids_itens_usados %}(Usado){% endif %}
                        </option>
                        {% endif %}
                        
                        {% endfor %}

                    </select>

                </div>
            </section>

            <footer class="batalha-actions">
                <button type="submit" class="botao-batalha-avancar">
                    AVANÇAR RODADA
                </button>
                <a href="/" class="link-desistir">Desistir da Batalha</a>
            </footer>
        </form>

    </div>
</body>

</html>