<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>RPG ZG - Início</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
</head>
<body class="bg-rpg">
    <div class="vinheta"></div>

    <div class="conteudo">
        <img src="{{ url_for('static', filename='imagens/logo.png') }}" alt="Logo do Jogo" class="logo">

        <div class="botoes-imagem">
            <a href="/regiao1">
                <img src="{{ url_for('static', filename='imagens/botton-jogar.png') }}" alt="Jogar" class="botao-imagem">
            </a>
        </div>
    </div>
</body>
</html>
