<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>RPG ZG - Região 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
</head>
<body class="bg-fase1">
    <div class="vinheta"></div>

    <div class="conteudo">

        <div id="linkGlozium">
            <a href="/boss" class="link-topo">Enfrentar Glozium</a>
        </div>

        <div class="regiao-top-buttons">
            <a href="{{ url_for('reiniciar') }}" id="btnNovoJogo">
                <img src="{{ url_for('static', filename='imagens/botton-novojogo.png') }}" alt="Novo Jogo" class="regiao-botao-pequeno">
            </a>
        </div>

        <div id="boxVida">
            Vida: <strong id="vida">5</strong>
        </div>

        <div class="regiao-dialogo-wrapper">
            <div class="regiao-dialogo" id="dialogo-box">
                <p id="texto">...</p>
            </div>
            <a id="btnSkip" class="regiao-link-skip">[skip]</a>
        </div>

        <div class="regiao-interacao">
            <a href="{{ url_for('batalha', monster_id='processus') }}" id="btnBatalhar">
                <img src="{{ url_for('static', filename='imagens/botton-batalha.png') }}" alt="Batalhar" class="regiao-botao-batalha">
            </a>
        </div>

    </div>

    <script>
        const textos = [
            "Um lugar encantado... Dizem que pessoas doentes ou com almas feridas podem vir à floresta para serem curadas.",
            "Sandubinha percorre a floresta e encontra um monstro tenebroso.",
            "Sandubinha: 'Então você é meu primeiro desafio nessa floresta encantada?'",
            "Processus: 'Bem vindo! Vejo que você é um dos escolhidos para enfraquecer Glozium. Meu nome é Processus Ministerii.'",
            "Processus: 'Sou o ser mágico que atende as almas feridas. Envio os informativos disso às cavernas de Faturamentus.'",
            "Processus: 'Você não irá lutar comigo, mas sim contra esse ser criado por Glozium.'",
            "Processus: 'Seres mágicos como eu não podem ser afetados por Glozium, mas também não podem lutar contra ele... ele me atrapalha, me desconcentrando.'",
            "Um ser humanóide surge entre as pernas do grande monstro.",
            "Sandubinha: 'Primeiro, não é enfraquecer! Vou dar um fim total em Glozium... Venha, monstro!'",
            "A Batalha se aproxima... CLIQUE EM BATALHAR!"
        ];

        let i = 0;
        const textoEl = document.getElementById("texto");
        const btnSkip = document.getElementById("btnSkip");
        const btnBatalhar = document.getElementById("btnBatalhar");
        const dialogoBox = document.getElementById("dialogo-box");
        const btnNovoJogo = document.getElementById("btnNovoJogo");
        const boxVida = document.getElementById("boxVida");

        btnBatalhar.style.display = 'none';
        btnNovoJogo.style.display = 'none';
        boxVida.style.display = 'none';


        function exibirProximoTexto() {
            if (i < textos.length) {
                textoEl.textContent = textos[i];
                i++;
                if (i === textos.length) {
                    btnSkip.style.display = "none"; 
                    btnBatalhar.style.display = 'block';
                    btnNovoJogo.style.display = 'block';
                    boxVida.style.display = 'block';
                }
            }
        }

        btnSkip.addEventListener("click", exibirProximoTexto);
        dialogoBox.addEventListener("click", exibirProximoTexto);

        exibirProximoTexto();

    </script>
</body>
</html>